<!doctype html>

<html>
	<head>
		<title>d2l-all-assessments test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
		<script src="../../../web-component-tester/browser.js"></script>

		<link rel="import" href="../../components/d2l-all-assessments.html">
	</head>
	<body>
		<test-fixture id="basic">
			<template>
				<d2l-all-assessments></d2l-all-assessments>
			</template>
		</test-fixture>
		<script src="d2l-all-assessments.js"></script>
	</body>
</html>
