<!doctype html>

<html>
	<head>
		<title>d2l-all-assessments-list-item test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
		<script src="../../../wct-browser-legacy/browser.js"></script>

		<script type="module" src="../../components/d2l-all-assessments-list.js"></script>
	</head>
	<body>
		<test-fixture id="basic">
			<template>
				<d2l-all-assessments-list-item></d2l-all-assessments-list-item>
			</template>
		</test-fixture>

		<script src="./d2l-all-assessments-list-item.js"></script>
	</body>
</html>
