<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="d2l-assessments-list-item.html">

<dom-module id="d2l-assessments-list">
	<template>
		<style>
			:host {
				display: block;
			}

			.date-header {
				background-color: var(--d2l-color-gypsum);
			}

			@media (max-width: 767px) {
				d2l-assessments-list-item:nth-of-type(4) {
					display: none;
				}
			}
		</style>
		<template is="dom-repeat" items="[[assessmentItems]]">
			<d2l-assessments-list-item assessment-item="[[item]]"></d2l-assessments-list-item>
		</template>
	</template>
	<script>
		'use strict';

		Polymer({

			is: 'd2l-assessments-list',

			properties: {
				assessmentItems: {
					type: Array,
					value: function() {
						return [];
					}
				}
			}

		});
	</script>
</dom-module>
