<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-icons/d2l-icon.html">
<link rel="import" href="../../d2l-icons/tier3-icons.html">
<link rel="import" href="../../d2l-typography/d2l-typography-shared-styles.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../behaviors/date-behavior.html">
<link rel="import" href="../behaviors/localize-behavior.html">

<dom-module id="d2l-all-assessments-list-item">
	<template>
		<style>
			:host {
				display: block;
				margin: 10px auto;
				background-color: var(--d2l-color-white);
				border: 1px var(--d2l-color-titanius) solid;
				border-radius: 4px;
				padding: 20px 0;
			}

			.assessment-title {
				@apply --d2l-heading-3;
				margin: 0;
				margin-bottom: -5px;
			}

			.row {
				display: flex;
				align-items: center;
			}

			.meta-text {
				@apply --d2l-body-standard-text;
				font-size: 0.7rem;
				display: flex;
				flex-direction: row;
				align-items: center;
				word-wrap: break-word;
				word-break: break-word;
			}

			.emphasis {
				color: var(--d2l-color-cinnabar);
				font-weight: bold;
			}

			.activity-icon, .spacer {
				flex: 0 0 100px;
			}

			.activity-status-badge {
				color: white;
				font-size: 0.6rem;
				font-weight: bold;
				line-height: 1;
				margin-right: 10px;
				padding: 4px 10px 3px 10px;
				text-transform: uppercase;
				border-radius: 12px;
			}

			:host-context([dir="rtl"]) .activity-status-badge {
				margin-left: 10px;
				margin-right: 0px;
			}

			.completion-info {
				background-color: var(--d2l-color-olivine-minus-1);
			}

			.due-today-info {
				background-color: var(--d2l-color-celestine);
			}

			.overdue-info {
				background-color: var(--d2l-color-cinnabar);
			}

			.ended-info {
				background-color: var(--d2l-color-ferrite);
			}

			.activity-info {
				display: inline-flex;
				flex: 1;
				align-items: center;
			}

			.meta-info {
				display: inline-flex;
				flex: 1;
				align-items: center;
			}

			.instructions {
				@apply --d2l-body-compact-text;
				font-size: 0.8rem;
				font-weight: 300;
				margin-top: 12px;
				max-height: 2.4rem;
				overflow: hidden;
				padding-right: 30px;
			}

			iron-icon.separator-icon {
				opacity: 0.8;
				width: 18px;
				height: 18px;
			}

			:host-context([dir="rtl"]) .instructions {
				padding-right: 0px;
				padding-left: 30px;
			}

			@media (max-width: 767px) {
				:host {
					border-radius: 0px;
					border-left: 0px;
					border-right: 0px;
				}

				.instructions-row {
					display: none;
				}
			}

			[hidden] {
				display: none;
			}

		</style>
		<div role="listitem">
			<div class="row">
				<div class="activity-info">
					<d2l-icon class="activity-icon" icon="[[assessmentIcon]]"></d2l-icon>
					<div class="info-container">
						<h3 class="assessment-title">[[assessmentItem.name]]</h3>
						<div class="meta-info">
							<div class="activity-status-badge completion-info" hidden$="[[!_showComplete]]">
								[[localize('activityComplete')]]
							</div>
							<div class="activity-status-badge due-today-info" hidden$="[[!_showDueToday]]">
								[[localize('activityDueToday')]]
							</div>
							<div class="meta-info" hidden$="[[!_showOverdue]]">
								<div class="activity-status-badge overdue-info">[[localize('activityOverdue')]]</div>
							</div>
							<div class="meta-text" hidden$="[[!_showEndsText]]">
								<div class="meta-text emphasis">[[_endsText]]</div>
								<iron-icon class="separator-icon" icon="d2l-tier1:bullet"></iron-icon>
							</div>
							<div class="activity-status-badge ended-info" hidden$="[[!_showEnded]]">
								[[localize('activityEnded')]]
							</div>
							<div class="meta-text">[[assessmentItem.courseName]]</div>
							<iron-icon class="separator-icon" icon="d2l-tier1:bullet"></iron-icon>
							<div class="meta-text">[[assessmentType]]</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row instructions-row">
				<div class="spacer"></div>
				<div class="instructions">[[assessmentItem.instructions]]</div>
			</div>
		</div>
	</template>

	<script>
	'use strict';

	Polymer({

		is: 'd2l-all-assessments-list-item',

		properties: {
			assessmentItem: {
				type: Object,
				value: function() {
					return {};
				},
				observer: '_onAssessmentItemChanged'
			},
			assessmentIcon: {
				type: String,
				value: ''
			},
			assessmentType: {
				type: String,
				value: ''
			},
			_endsText: String,
			_showComplete: {
				type: Boolean,
				value: false
			},
			_showDueToday: {
				type: Boolean,
				value: false
			},
			_showOverdue: {
				type: Boolean,
				value: false
			},
			_showEnded: {
				type: Boolean,
				value: false
			},
			_showEndsText: {
				type: Boolean,
				value: false
			}
		},

		behaviors: [
			window.D2L.UpcomingAssessments.DateBehavior,
			window.D2L.UpcomingAssessments.LocalizeBehavior
		],

		_onAssessmentItemChanged: function(assessmentItem) {
			this._updateAssessmentIcon(assessmentItem);
			this._updateAssessmentType(assessmentItem);

			this._showComplete = assessmentItem.isCompleted;
			this._showDueToday = !assessmentItem.isCompleted && assessmentItem.isDueToday;
			this._showOverdue = !assessmentItem.isCompleted && !assessmentItem.isEnded && assessmentItem.isOverdue;
			this._showEnded = !assessmentItem.isCompleted && assessmentItem.isEnded;

			if (assessmentItem.endDate) {
				var relativeDateString = this._getRelativeDateString(assessmentItem.endDate);
				this._endsText = this.localize('endDateShort', 'endDate', relativeDateString);
				this._showEndsText = this._showOverdue;
			}
		},

		_getRelativeDateString: function(dateUTC) {
			if (!dateUTC) {
				return;
			}

			var dateString;
			var calendarDateDiff = this.getDateDiffInCalendarDays(dateUTC);

			if (calendarDateDiff === 0) {
				return this.localize('today');
			} else if (calendarDateDiff === 1) {
				return this.localize('tomorrow');
			} else if (calendarDateDiff > 1 && calendarDateDiff < 7) {
				dateString = new Date(dateUTC).toLocaleDateString(this.locale, { weekday: 'long' });
			} else {
				dateString = new Intl.DateTimeFormat(this.locale, { weekday: 'long', month: 'long', day: 'numeric' }).format(new Date(dateUTC));
			}

			return dateString;
		},

		_updateAssessmentIcon: function(assessmentItem) {
			var icon = 'd2l-tier3:';
			if (assessmentItem.type === 'assignment') this.assessmentIcon = icon + 'assignments';
			else if (assessmentItem.type === 'quiz') this.assessmentIcon = icon + 'quizzing';
		},

		_updateAssessmentType: function(assessmentItem) {
			if (assessmentItem.type === 'assignment') this.assessmentType = this.localize('assignment');
			else if (assessmentItem.type === 'quiz') this.assessmentType = this.localize('quiz');
			else this.assessmentType = '';
		}

	});
	</script>
</dom-module>
