<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../d2l-ajax/d2l-ajax.html">
<link rel="import" href="../../d2l-typography/d2l-typography-shared-styles.html">
<link rel="import" href="../src/localize-behavior.html">
<link rel="import" href="d2l-assessments-list.html">

<dom-module id="d2l-upcoming-assessments">
	<template>
		<style>
			:host {
				display: block;
			}

			h2 {
				font-weight: normal;
				margin-left: 15px;
			}

			:host-context([dir="rtl"]) h2 {
				margin-left: 0px;
				margin-right: 15px;
			}
		</style>

		<d2l-ajax
			auto
			url="{{endpoint}}"
			handle-as="json"
			on-iron-ajax-response="_onResponse"
			on-iron-ajax-error="_onError">
		</d2l-ajax>

		<d2l-assessments-list assessment-items={{assessments}}></d2l-assessments-list>

		<template is="dom-if" if="[[_showRequestFailedError]]">
			<div class="error-message">{{localize('requestFailedErr')}}</div>
		</template>
	</template>

	<script>
		'use strict';

		Polymer({
			is: 'd2l-upcoming-assessments',

			properties: {
				endpoint: String,

				assessments: {
					type: Array,
					value: function() {
						return [];
					}
				},

				_showRequestFailedError: {
					type: Boolean,
					value: false
				}
			},

			behaviors: [
				window.D2L.UpcomingAssessments.LocalizeBehavior
			],

			ready: function() {
				this.$$('d2l-assessments-list').assessmentItems = [{
					'title': 'Math Assignment',
					'courseName': 'Math',
					'itemType': 'Assignment',
					'dueDate': '2017-04-05',
					'isCompleted': true
				}, {
					'title': 'Math Quiz',
					'courseName': 'Math',
					'itemType': 'Quiz',
					'dueDate': '2017-04-06'
				}, {
					'title': 'Science Quiz',
					'courseName': 'Science',
					'itemType': 'Quiz',
					'dueDate': '2017-04-08',
					'isCompleted': true
				}, {
					'title': 'History Assignment',
					'courseName': 'History',
					'itemType': 'Assignment',
					'dueDate': '2017-04-08',
					'isCompleted': true
				}];
			},

			_onResponse: function(response) {
				if (response.detail.status === 200 || response.detail.status === 304) {
					this.set('_showRequestFailedError', false);
					this.set('assessments', response.detail.xhr.response);
					this.notifyPath('assessments.*');
				} else {
					this._onError();
				}
			},

			_onError: function() {
				this.set('_showRequestFailedError', true);
			}

		});

	</script>
</dom-module>
