<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">
<link rel="import" href="../../d2l-icons/d2l-icon.html">
<link rel="import" href="../../d2l-icons/tier3-icons.html">
<link rel="import" href="../../d2l-typography/d2l-typography-shared-styles.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../../d2l-status-indicator/d2l-status-indicator.html">
<link rel="import" href="../behaviors/date-behavior.html">
<link rel="import" href="../behaviors/localize-behavior.html">

<dom-module id="d2l-all-assessments-list-item">
	<template>
		<style>
			:host {
				display: block;
				margin: 10px auto;
				background-color: var(--d2l-color-white);
				border: 1px var(--d2l-color-titanius) solid;
				border-radius: 4px;
				padding: 20px 0;
			}

			.assessment-title {
				@apply --d2l-heading-3;
				margin: 0;
				margin-bottom: -5px;
			}

			.row {
				display: flex;
				align-items: center;
			}

			.meta-text {
				@apply --d2l-body-standard-text;
				font-size: 0.7rem;
				line-height: 0.9rem;
				display: flex;
				flex-direction: row;
				align-items: center;
				word-wrap: break-word;
			}

			.meta-text.course-name {
				word-break: break-word;
			}

			.emphasis {
				color: var(--d2l-color-cinnabar);
				font-weight: bold;
			}

			.activity-icon, .spacer {
				flex: 0 0 100px;
			}

			d2l-status-indicator:not([hidden]) {
				margin-right: 5px;
			}

			:host-context([dir="rtl"]) d2l-status-indicator:not([hidden]) {
				margin-left: 5px;
				margin-right: 0px;
			}

			.activity-info {
				display: inline-flex;
				flex: 1;
				align-items: center;
			}

			.info-container {
				padding-right: 10px;
			}

			:host-context([dir="rtl"]) .info-container  {
				padding-right: 0;
				padding-left: 10px;
			}

			.meta-info {
				display: inline-flex;
				flex: 1;
				align-items: center;
			}

			.info {
				@apply --d2l-body-compact-text;
				font-size: 0.8rem;
				font-weight: 300;
				margin-top: 12px;
				max-height: 2.4rem;
				overflow: hidden;
				padding-right: 30px;
			}

			iron-icon.separator-icon {
				opacity: 0.8;
				width: 18px;
				height: 18px;
			}

			:host-context([dir="rtl"]) .info {
				padding-right: 0px;
				padding-left: 30px;
			}

			@media (max-width: 767px) {
				:host {
					border-radius: 0px;
					border-left: 0px;
					border-right: 0px;
				}

				.info-row {
					display: none;
				}
			}

			[hidden] {
				display: none;
			}

			.clickable:hover {
				cursor: pointer;
			}

		</style>
		<div class$="[[_getAssessmentInfoCssClassNames(_canOpenActivityDetails)]]"
			tabindex$="[[_getAssessmentInfoTabIndex(_canOpenActivityDetails)]]"
			role$="[[_getAssessmentInfoRole(_canOpenActivityDetails)]]"
			on-tap="_openActivityDetails"
			on-keydown="_onKeydownOpenActivityDetails">
			<div class="row">
				<div class="activity-info">
					<d2l-icon class="activity-icon" icon="[[assessmentIcon]]"></d2l-icon>
					<div class="info-container">
						<h3 class="assessment-title">[[assessmentItem.name]]</h3>
						<div class="meta-info">
							<d2l-status-indicator state="success" text="[[localize('activityComplete')]]" hidden$="[[!_showComplete]]"></d2l-status-indicator>
							<d2l-status-indicator state="default" text="[[localize('activityDueToday')]]" hidden$="[[!_showDueToday]]"></d2l-status-indicator>
							<div class="meta-info" hidden$="[[!_showOverdue]]">
								<d2l-status-indicator state="alert" text="[[localize('activityOverdue')]]"></d2l-status-indicator>
							</div>
							<div class="meta-text" hidden$="[[!_showEndsText]]">
								<div class="meta-text emphasis">[[_endsText]]</div>
								<iron-icon class="separator-icon" icon="d2l-tier1:bullet"></iron-icon>
							</div>
							<d2l-status-indicator state="null" text="[[localize('activityEnded')]]" hidden$="[[!_showEnded]]"></d2l-status-indicator>
							<div class="meta-text course-name">[[assessmentItem.courseName]]</div>
							<iron-icon class="separator-icon" icon="d2l-tier1:bullet"></iron-icon>
							<div class="meta-text">[[assessmentType]]</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row info-row">
				<div class="spacer"></div>
				<div class="info">[[assessmentItem.info]]</div>
			</div>
		</div>
	</template>

	<script>
	'use strict';

	Polymer({

		is: 'd2l-all-assessments-list-item',

		properties: {
			assessmentItem: {
				type: Object,
				value: function() {
					return {};
				},
				observer: '_onAssessmentItemChanged'
			},
			assessmentIcon: {
				type: String,
				value: ''
			},
			assessmentType: {
				type: String,
				value: ''
			},
			_endsText: String,
			_showComplete: {
				type: Boolean,
				value: false
			},
			_showDueToday: {
				type: Boolean,
				value: false
			},
			_showOverdue: {
				type: Boolean,
				value: false
			},
			_showEnded: {
				type: Boolean,
				value: false
			},
			_showEndsText: {
				type: Boolean,
				value: false
			},
			assignmentDetailsEnabled: {
				type: Boolean,
				value: false
			},
			_canOpenActivityDetails: {
				type: Boolean,
				computed: '_computeCanOpenActivityDetails(assessmentItem, assignmentDetailsEnabled)'
			}
		},

		behaviors: [
			window.D2L.UpcomingAssessments.DateBehavior,
			window.D2L.UpcomingAssessments.LocalizeBehavior
		],

		_onAssessmentItemChanged: function(assessmentItem) {
			this._updateAssessmentIcon(assessmentItem);
			this._updateAssessmentType(assessmentItem);

			this._showComplete = assessmentItem.isCompleted;
			this._showDueToday = !assessmentItem.isCompleted && assessmentItem.isDueToday && !assessmentItem.isOverdue;
			this._showOverdue = !assessmentItem.isCompleted && !assessmentItem.isEnded && assessmentItem.isOverdue;
			this._showEnded = !assessmentItem.isCompleted && assessmentItem.isEnded;

			if (assessmentItem.endDate) {
				var relativeDateString = this._getRelativeDateString(assessmentItem.endDate);
				this._endsText = this.localize('endDateShort', 'endDate', relativeDateString);
				this._showEndsText = this._showOverdue;
			}
		},

		_getRelativeDateString: function(dateUTC) {
			if (!dateUTC) {
				return;
			}

			var dateString;
			var calendarDateDiff = this.getDateDiffInCalendarDays(dateUTC);

			if (calendarDateDiff === 0) {
				return this.localize('today');
			} else if (calendarDateDiff === 1) {
				return this.localize('tomorrow');
			} else if (calendarDateDiff > 1 && calendarDateDiff < 7) {
				dateString = new Date(dateUTC).toLocaleDateString(this.locale, { weekday: 'long' });
			} else {
				dateString = new Intl.DateTimeFormat(this.locale, { weekday: 'long', month: 'long', day: 'numeric' }).format(new Date(dateUTC));
			}

			return dateString;
		},

		_updateAssessmentIcon: function(assessmentItem) {
			var icon = 'd2l-tier3:';
			if (assessmentItem.type === 'assignment') this.assessmentIcon = icon + 'assignments';
			else if (assessmentItem.type === 'quiz') this.assessmentIcon = icon + 'quizzing';
		},

		_updateAssessmentType: function(assessmentItem) {
			if (assessmentItem.type === 'assignment') this.assessmentType = this.localize('assignment');
			else if (assessmentItem.type === 'quiz') this.assessmentType = this.localize('quiz');
			else this.assessmentType = '';
		},

		_computeCanOpenActivityDetails: function(assessmentItem, assignmentDetailsEnabled) {
			return assignmentDetailsEnabled && assessmentItem.type === 'assignment' && !!assessmentItem.userActivityUsageHref;
		},

		_openActivityDetails: function() {
			var self = this;
			if (this._canOpenActivityDetails) {
				this.dispatchEvent(new CustomEvent('open-immersive-page', {
					bubbles: true,
					detail: {
						pageName: 'activity-details',
						userActivityUsageHref: self.assessmentItem.userActivityUsageHref
					}
				}));
			}
		},

		_onKeydownOpenActivityDetails: function(e) {
			if (e.keyCode === 13 || e.keyCode === 32) {
				this._openActivityDetails();
			}
		},

		_getAssessmentInfoCssClassNames: function(canOpenActivityDetails) {
			if (canOpenActivityDetails) {
				return 'clickable';
			}
		},

		_getAssessmentInfoTabIndex: function(canOpenActivityDetails) {
			if (canOpenActivityDetails) {
				return 0;
			}
		},

		_getAssessmentInfoRole: function(canOpenActivityDetails) {
			var role = 'listItem';
			if (canOpenActivityDetails) {
				role += ' link';
			}
			return role;
		}

	});
	</script>
</dom-module>
