<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../d2l-hm-constants-behavior/d2l-hm-constants-behavior.html">
<link rel="import" href="../../d2l-link/d2l-link.html">
<link rel="import" href="../../d2l-simple-overlay/d2l-simple-overlay.html">
<link rel="import" href="../../d2l-typography/d2l-typography-shared-styles.html">
<link rel="import" href="../src/behaviors/date-behavior.html">
<link rel="import" href="../src/behaviors/localize-behavior.html">
<link rel="import" href="d2l-assessments-list.html">

<dom-module id="d2l-upcoming-assessments">
	<template>
		<style>
			:host {
				display: block;
			}

			h2 {
				font-weight: normal;
				margin-left: 15px;
			}

			:host-context([dir="rtl"]) h2 {
				margin-left: 0px;
				margin-right: 15px;
			}

			.error-message, .no-upcoming-assessments, .view-all-assignments-link > h3 {
				@apply --d2l-body-compact-text;
			}

			.view-all-assignments-link > h3 {
				margin-bottom: 0;
			}

			.no-assessments-in-time-frame {
				text-align: center;
			}
		</style>


		<template is="dom-if" if="[[_showNoUpcomingAssessmentsMessage(_assessments, _showError)]]">
			<div class="no-upcoming-assessments">[[_noUpcomingAssessments]]</div>
		</template>

		<template is="dom-if" if="[[_showUpcomingAssessments(_assessments, _showError)]]">
			<d2l-assessments-list assessment-items=[[_assessments]]></d2l-assessments-list>
		</template>

		<template is="dom-if" if="[[_showError]]">
			<div class="error-message">[[localize('errorMessage')]]</div>
		</template>

		<template is="dom-if" if="[[!_showError]]">
			<a class="view-all-assignments-link"
				is="d2l-link"
				on-tap="_openAllAssignmentsView"
				on-keypress="_keypressOpenAllAssignmentsView" >
				<h3>[[localize('viewAllAssignments')]]</h3>
			</a>
		</template>

		<d2l-simple-overlay
			id="view-all-assignments-overlay"
			title-name="[[localize('viewAllAssignments')]]"
			locale="[[locale]]"
			close-simple-overlay-alt-text="[[localize('closeSimpleOverlayAltText')]]"
			with-backdrop>
			<div class="no-assessments-in-time-frame">[[_noAssessmentsInThisTimeFrame]]</div>
		</d2l-simple-overlay>
	</template>

	<script src="https://s.brightspace.com/lib/siren-parser/6.0.0/siren-parser.js"></script>
	<script>
		'use strict';

		Polymer({
			is: 'd2l-upcoming-assessments',

			properties: {
				userUrl: String,
				token: String,
				ready: {
					type: Boolean,
					notify: true,
					readOnly: true,
					reflectToAttribute: true,
					value: false
				},
				_assessments: {
					type: Array,
					value: function() {
						return [];
					}
				},
				_userName: String,
				_showError: {
					type: Boolean,
					value: false
				},
				_noUpcomingAssessments: {
					type: String,
					computed: 'localize("noUpcomingAssessments", "userName", _userName)'
				},
				_noAssessmentsInThisTimeFrame: {
					type: String,
					computed: 'localize("noAssessmentsInThisTimeFrame", "userName", _userName)'
				}
			},

			behaviors: [
				window.D2L.UpcomingAssessments.DateBehavior,
				window.D2L.UpcomingAssessments.LocalizeBehavior,
				window.D2L.Hypermedia.HMConstantsBehavior
			],

			observers: [
				'_onApiConfigChanged(userUrl, token)'
			],

			_debounceTime: 20,

			_getInfo: function() {
				var self = this;
				var userName;

				return this._fetchEntity(self.userUrl)
					.then(function(userEntity) {
						userName = (userEntity.getSubEntityByRel(self.HypermediaRels.firstName) || { properties: {} }).properties.name;

						return self._getUserActivityUsages(userEntity);
					})
					.then(function(activities) {
						return self._getActivityUsagesInfo(activities);
					})
					.then(function(activities) {
						return self._getUserActivityUsageInfo(activities);
					})
					.then(function(activities) {
						self._updateActivitiesInfo(activities);
						self._userName = userName;
						self._showError = false;
					})
					.catch(function() {
						self._showError = true;
					})
					.then(function() {
						self._setReady(true);
					});
			},

			_onApiConfigChanged: function() {
				this.debounce('getInfo', this._getInfo, this._debounceTime);
			},

			_showUpcomingAssessments: function(assessments, showError) {
				return !showError && assessments && assessments.length > 0;
			},

			_showNoUpcomingAssessmentsMessage: function(assessments, showError) {
				return !showError && (!assessments || assessments.length <= 0);
			},

			_getUserActivityUsages: function(userEntity) {
				var myActivitiesLink = (userEntity.getLinkByRel(this.HypermediaRels.Activities.myActivities) || {}).href;

				if (myActivitiesLink) {
					return this._fetchEntity(myActivitiesLink);
				}
			},

			_getActivityUsagesInfo: function(activities) {
				var requests = [];
				var self = this;

				activities.getSubEntitiesByClass('user-assignment-activity').forEach(function(assignment) {
					if (!assignment.getSubEntityByClass('due-date')) {
						return;
					}

					var orgUnitLink = (assignment.getLinkByRel(self.HypermediaRels.organization) || {}).href;
					var activityUsageLink = assignment.getLinkByRel(self.HypermediaRels.Activities.activityUsage).href;

					var activityUsageRequest = self._fetchEntity(activityUsageLink)
						.then(function(activityUsageEntity) {
							return {
								activityUsage: activityUsageEntity,
								orgUnitLink: orgUnitLink
							};
						});

					requests.push(activityUsageRequest);
				});

				return Promise.all(requests);
			},

			_getUserActivityUsageInfo: function(responses) {
				var requests = [];
				var orgPromiseMap = {};
				var self = this;

				responses.forEach(function(response) {
					if (!response.activityUsage.hasClass('published')) {
						return;
					}

					var assignmentLink = response.activityUsage.getLinkByRel(self.HypermediaRels.assignment).href;
					var orgUnitRequest = orgPromiseMap[response.orgUnitLink];

					if (!orgUnitRequest) {
						orgUnitRequest = self._fetchEntity(response.orgUnitLink);
						orgPromiseMap[response.orgUnitLink] = orgUnitRequest;
					}

					var assignmentRequest = self._fetchEntity(assignmentLink);

					var request = new Promise(function(resolve) {
						Promise.all([assignmentRequest, orgUnitRequest])
							.then(function(response) {
								var activity = response[0];
								var organization = response[1];

								resolve({
									name: activity.properties.name,
									dueDate: activity.properties.dueDate,
									courseName: organization.properties.name
								});
							});
					});

					requests.push(request);
				});

				return Promise.all(requests);
			},

			_updateActivitiesInfo: function(activities) {
				var self = this;

				activities = activities
					.filter(function(activity) {
						return activity.dueDate;
					})
					.sort(function(a, b) {
						return a.dueDate > b.dueDate;
					});

				var basicListActivities = activities
					.filter(function(activity) {
						return self.isActivityUpcoming(activity);
					})
					.slice(0, 4);

				this.set('_assessments', basicListActivities);
			},

			_keypressOpenAllAssignmentsView: function(e) {
				if ( e.code === 'Space' || e.code === 'Enter' ) {
					return this._openAllAssignmentsView(e);
				}
			},

			_openAllAssignmentsView: function() {
				this.$['view-all-assignments-overlay'].open();
			},

			_fetchEntity: function(url) {
				var token = this.token;

				return new Promise(function(resolve, reject) {
					var xhr = new XMLHttpRequest();
					xhr.open('GET', url);
					xhr.setRequestHeader('Accept', 'application/vnd.siren+json');
					xhr.setRequestHeader('Authorization', 'Bearer ' + token);
					xhr.addEventListener('load', function() {
						if (xhr.status === 200 || xhr.status === 304) {
							resolve(window.D2L.Hypermedia.Siren.Parse(xhr.responseText));
						} else {
							reject(xhr.error || xhr.status);
						}
					});
					xhr.addEventListener('error', function() {
						reject(xhr.error || xhr.status);
					});
					xhr.send();
				});
			}
		});

	</script>
</dom-module>
