<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../d2l-hm-constants-behavior/d2l-hm-constants-behavior.html">
<link rel="import" href="../../d2l-intl/d2l-intl.html">
<link rel="import" href="../../d2l-link/d2l-link.html">
<link rel="import" href="../../d2l-page-load-progress/d2l-page-load-progress.html">
<link rel="import" href="../../d2l-simple-overlay/d2l-simple-overlay.html">
<link rel="import" href="../../d2l-simple-overlay/d2l-simple-overlay-close-button.html">
<link rel="import" href="../../d2l-typography/d2l-typography-shared-styles.html">
<link rel="import" href="../behaviors/d2l-upcoming-assessments-behavior.html">
<link rel="import" href="../behaviors/date-behavior.html">
<link rel="import" href="../behaviors/localize-behavior.html">
<link rel="import" href="d2l-all-assessments-list.html">
<link rel="import" href="d2l-assessments-list.html">

<dom-module id="d2l-upcoming-assessments">
	<template>
		<style>
			:host {
				display: block;
			}

			h2 {
				font-weight: normal;
				margin-left: 15px;
			}

			d2l-simple-overlay {
				border-top: 0;
			}

			d2l-simple-overlay-close-button {
				line-height: 60px;
				padding: 0px;
			}

			d2l-simple-overlay-close-button span {
				text-transform: uppercase;
			}

			:host-context([dir="rtl"]) h2 {
				margin-left: 0px;
				margin-right: 15px;
			}

			.error-message,
			.no-upcoming-assessments,
			.view-all-assignments-link > h3,
			.view-all-container {
				@apply --d2l-body-compact-text;
			}

			.view-all-assignments-link > h3 {
				margin-bottom: 0;
			}

			.no-assessments-in-time-frame {
				text-align: center;
			}

			.view-all-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				box-sizing: border-box;
				padding: 0 30px;
				margin-left: auto;
				margin-right: auto;
				max-width: 1230px;
			}

			.overlay-close-button-content-wrapper {
				display: inline-flex;
				align-items: center;
				vertical-align: middle;
			}

			.period-selection-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 10px;
			}
		</style>


		<div class="no-upcoming-assessments"
			 hidden$="[[!_showNoUpcomingAssessmentsMessage(_assessments, _showError)]]">
			 [[_noUpcomingAssessments]]
		</div>

		<template is="dom-if" if="[[_showUpcomingAssessments(_assessments, _showError)]]">
			<d2l-assessments-list assessment-items=[[_assessments]]></d2l-assessments-list>
		</template>

		<div hidden$="[[!_showError]]" class="error-message">[[localize('errorMessage')]]</div>

		<a class="view-all-assignments-link"
			is="d2l-link"
			on-tap="_openAllAssignmentsView"
			on-keypress="_keypressOpenAllAssignmentsView"
			hidden$=[[_showError]]
			tabindex="0">
			<h3>[[localize('viewAllAssignments')]]</h3>
		</a>

		<d2l-simple-overlay
			id="view-all-assignments-overlay"
			title-name="[[localize('viewAllAssignments')]]"
			locale="[[locale]]"
			close-simple-overlay-alt-text="[[localize('closeSimpleOverlayText')]]"
			no-cancel-on-outside-click
			with-backdrop>
			<div slot="header">
				<d2l-page-load-progress id="allAssignmentsProgressBar" autostart color="#003b71"></d2l-page-load-progress>
				<div class="view-all-container">
					<d2l-simple-overlay-close-button>
						<div class="overlay-close-button-content-wrapper">
							<d2l-icon icon="d2l-tier1:chevron-left"></d2l-icon>
							<span>[[_closeSimpleOverlayText]]</span>
						</div>
					</d2l-simple-overlay-close-button>
				</div>
			</div>
			<div class="period-selection-container">
				<a is="d2l-link" on-tap="_goPrev" on-keypress="_keypressGoPrev">[[localize('goPreviousText')]]</a>
				<div>[[_currentPeriodText]]</div>
				<a is="d2l-link" on-tap="_goNext" on-keypress="_keypressGoNext">[[localize('goNextText')]]</a>
			</div>
			<template is="dom-if" if="[[_hasActivities(_allActivities)]]">
				<d2l-all-assessments-list assessment-items=[[_allActivities]]></d2l-all-assessments-list>
			</template>
			<div hidden$="[[_hasActivities(_allActivities)]]" class="no-assessments-in-time-frame">[[_noAssessmentsInThisTimeFrame]]</div>

		</d2l-simple-overlay>
	</template>

	<script src="https://s.brightspace.com/lib/siren-parser/6.0.0/siren-parser.js"></script>
	<script>
		'use strict';

		Polymer({
			is: 'd2l-upcoming-assessments',

			properties: {
				userUrl: String,
				token: String,
				loaded: {
					type: Boolean,
					notify: true,
					readOnly: true,
					reflectToAttribute: true,
					value: false
				},
				totalCount: {
					type: Number,
					notify: true,
					readOnly: true,
					reflectToAttribute: true,
					value: 0
				},
				_assessments: {
					type: Array,
					value: function() {
						return [];
					}
				},
				_allActivities: {
					type: Array,
					value: function() {
						return [];
					}
				},
				_userName: String,
				_showError: {
					type: Boolean,
					value: false
				},
				_noUpcomingAssessments: {
					type: String,
					computed: 'localize("noUpcomingAssessments", "userName", _userName)'
				},
				_noAssessmentsInThisTimeFrame: {
					type: String,
					computed: 'localize("noAssessmentsInThisTimeFrame", "userName", _userName)'
				},
				_closeSimpleOverlayText: {
					type: String
				},
				_previousPeriodUrl: String,
				_nextPeriodUrl: String,
				_currentPeriodText: String
			},

			behaviors: [
				window.D2L.UpcomingAssessments.UpcomingAssessmentsBehavior,
				window.D2L.UpcomingAssessments.DateBehavior,
				window.D2L.UpcomingAssessments.LocalizeBehavior,
				window.D2L.Hypermedia.HMConstantsBehavior
			],

			observers: [
				'_onApiConfigChanged(userUrl, token)'
			],

			ready: function() {
				var mql = window.matchMedia('(max-width: 767px)');
				this._updateCloseSimpleOverlayText(mql.matches);
				mql.addListener(this._mobileBreakpointListener.bind(this));

				this.$.allAssignmentsProgressBar.finish();
			},

			_debounceTime: 20,

			_getInfo: function() {
				var self = this;
				var userName;

				return this._fetchEntity(this.userUrl, this.token)
					.then(function(userEntity) {
						userName = (userEntity.getSubEntityByRel(self.HypermediaRels.firstName) || { properties: {} }).properties.name;

						return self._getUserActivityUsages(userEntity, self.token);
					})
					.then(function(activities) {
						return self._getActivityInfo(activities);
					})
					.catch(function() {
						self._showError = true;
					})
					.then(function() {
						if (!self._showError) {
							self._userName = userName;
						}
						self._setLoaded(true);
					});
			},

			_getActivityInfo: function(activities) {
				var self = this;

				self._previousPeriodUrl = (activities.getLinkByRel('https://activities.api.brightspace.com/rels/previous-period') || {}).href;
				self._nextPeriodUrl = (activities.getLinkByRel('https://activities.api.brightspace.com/rels/next-period') || {}).href;
				self._currentPeriodText = self._getFormattedPeriodText(activities.properties.start, activities.properties.end);

				return self._getActivityUsagesInfo(activities, self.token)
					.then(function(activities) {
						return self._getUserActivityUsageInfo(activities, self.token);
					})
					.then(function(activities) {
						self._updateActivitiesInfo(activities, self.token);
						self._showError = false;
					})
					.catch(function() {
						self._showError = true;
					});
			},

			_onApiConfigChanged: function() {
				this.debounce('getInfo', this._getInfo, this._debounceTime);
			},

			_showUpcomingAssessments: function(assessments, showError) {
				return !showError && assessments && assessments.length > 0;
			},

			_showNoUpcomingAssessmentsMessage: function(assessments, showError) {
				return !showError && (!assessments || assessments.length <= 0);
			},

			_hasActivities: function(activities) {
				return activities && activities.length > 0;
			},

			_updateActivitiesInfo: function(activities) {
				var self = this;

				activities = activities
					.filter(function(activity) {
						return activity.dueDate;
					})
					.sort(function(a, b) {
						return a.dueDate > b.dueDate;
					});

				var upcomingActivities = activities
					.filter(function(activity) {
						return self.isActivityUpcoming(activity);
					});
				this._setTotalCount(upcomingActivities.length);

				var basicListActivities = upcomingActivities.slice(0, 4);
				this.set('_assessments', basicListActivities);
				this.set('_allActivities', activities);
			},

			_keypressOpenAllAssignmentsView: function(e) {
				if ( e.code === 'Space' || e.code === 'Enter' ) {
					return this._openAllAssignmentsView(e);
				}
			},

			_openAllAssignmentsView: function() {
				this.$['view-all-assignments-overlay'].open();
			},

			_goPrev: function() {
				return this._loadActivitiesForPeriod(this._previousPeriodUrl);
			},

			_keypressGoPrev: function(e) {
				if ( e.code === 'Space' || e.code === 'Enter' ) {
					return this._goPrev(e);
				}
			},

			_goNext: function() {
				return this._loadActivitiesForPeriod(this._nextPeriodUrl);
			},

			_keypressGoNext: function(e) {
				if ( e.code === 'Space' || e.code === 'Enter' ) {
					return this._goNext(e);
				}
			},

			_loadActivitiesForPeriod: function(periodUrl) {
				if (!periodUrl) {
					return Promise.resolve();
				}

				var self = this;

				var progress = this.$.allAssignmentsProgressBar;
				progress.start();

				return this._fetchEntity(periodUrl, this.token)
					.then(function(activities) {
						return self._getActivityInfo(activities);
					})
					.then(function() {
						progress.finish();
					});
			},

			_getFormattedPeriodText: function(startDate, endDate) {
				var startDateDate = new Date(startDate);
				var endDateDate = new Date(endDate);

				var startDateString = new window.d2lIntl.DateTimeFormat(this.locale, { format: 'monthDay' }).format(startDateDate);
				var endDateString;
				if (startDateDate && endDateDate && (startDateDate.getMonth() === endDateDate.getMonth())) {
					endDateString = endDateDate.getDate();
				} else {
					endDateString = new window.d2lIntl.DateTimeFormat(this.locale, { format: 'monthDay' }).format(endDateDate);
				}

				return this.localize('currentPeriod', 'startDate', startDateString, 'endDate', endDateString);
			},

			_fetchEntity: function(url, token) {

				return new Promise(function(resolve, reject) {
					var xhr = new XMLHttpRequest();
					xhr.open('GET', url);
					xhr.setRequestHeader('Accept', 'application/vnd.siren+json');
					xhr.setRequestHeader('Authorization', 'Bearer ' + token);
					xhr.addEventListener('load', function() {
						if (xhr.status === 200 || xhr.status === 304) {
							resolve(window.D2L.Hypermedia.Siren.Parse(xhr.responseText));
						} else {
							reject(xhr.error || xhr.status);
						}
					});
					xhr.addEventListener('error', function() {
						reject(xhr.error || xhr.status);
					});
					xhr.send();
				});
			},

			_mobileBreakpointListener: function(mqlevent) {
				this._updateCloseSimpleOverlayText(mqlevent.matches);
			},

			_updateCloseSimpleOverlayText: function(isMobile) {
				this._closeSimpleOverlayText = isMobile
					? this.localize('closeSimpleOverlayTextMobile')
					: this.localize('closeSimpleOverlayText');
			}
		});

	</script>
</dom-module>
